<div class="bg-[#e1e1e1] min-h-screen p-10"> 
    <div class="flex justify-between items-center mb-4"> <!-- Contenedor para el título y la etiqueta -->
        <h5 class="text-3xl font-bold p-2">Clientes</h5>



        <p class="text-1xl p-2">Atriux > Menu > Clientes</p>
    </div>

    <!-- <div class="flex flex-col sm:flex-row justify-between items-center">
        <mat-tab-group class="w-1/3">
          <mat-tab label="Activos">
            <div>Content 1</div>
          </mat-tab>
          <mat-tab label="Desactivos">
            <div>Content 2</div>
          </mat-tab>
        </mat-tab-group>

    </div> -->


    <!-- <div data-fc-type="tab">
        <nav class="flex space-x-3 border-b" aria-label="Tabs">
            <button style="color: #29abe2;" (click)="setActiveTab('tab1')" type="button" 
                    [class.active]="activeTab === 'tab1'" 
                    class="py-4 px-1 inline-flex items-center gap-2 border-b-2 border-transparent -mb-px transition-all text-sm whitespace-nowrap text-gray-500 hover:text-primary">
                Actividades
            </button>
            <button style="color: #29abe2;" (click)="setActiveTab('tab2')" type="button" 
                    [class.active]="activeTab === 'tab2'" 
                    class="py-4 px-1 inline-flex items-center gap-2 border-b-2 border-transparent -mb-px transition-all text-sm whitespace-nowrap text-gray-500 hover:text-primary">
                Llamadas
            </button>
        </nav>
    <div>             -->
    <div class="bg-white rounded shadow p-10">
        <div class="mb-4 flex flex-col sm:flex-row justify-between items-center"> <!-- Contenedor principal para los botones -->
            <!-- Filtro para seleccionar rol -->
            <div class="relative w-full sm:w-[500px]">
                <input 
                    type="text" 
                    placeholder="Buscar cliente..." 
                    class="border border-gray-300 rounded-md p-2 w-full" 
                />
                <mat-icon class="absolute right-2 top-2">search</mat-icon>
            </div>
        

            <!-- Botones para agregar usuario y grupo -->
            <div class="flex space-x-2 mt-2 sm:mt-0"> <!-- Contenedor para los botones de agregar -->
                <button class="flex items-center justify-center bg-[#f3f7fe] text-[#29abe2] border-none rounded-[8px] w-full sm:w-[150px] h-[45px] transition-[.3s] hover:bg-[#29abe2] hover:shadow-[0_0_0_5px_#3b83f65f] hover:text-white font-mono">
                    <mat-icon class="mr-2">add</mat-icon> Agregar Cliente
                </button>
            </div>
        </div>


        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
                <thead>
                    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                        <th class="py-3 px-6 text-left">Nombre</th>
                        <th class="py-3 px-6 text-left">Contacto Info</th>
                        <th class="py-3 px-6 text-left">Tipo</th>
                        <th class="py-3 px-6 text-left">Acciones</th>
                        
                    </tr>
                </thead>
                <tbody class="text-gray-600 text-sm font-light">
                    <tr class="border-b border-gray-300 hover:bg-blue-100">
                        <td class="py-3 px-6">
                            <div class="flex items-center" (click)="toggleOffcanvas()"> <!-- Contenedor flex para alinear -->
                                <div class="w-8 h-8 flex justify-center items-center rounded-md mr-2" style="background-color: #29abe2;">
                                    <span class="text-white">JP</span>
                                </div>
                               <button style="color:green"> Juan Pérez</button>
                            </div>
                        </td>
                        <td class="py-3 px-6"><b>juanxample.com</b>
                            <br>
                            212-8654785
                        </td>
                        <td class="py-3 px-6"><span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-red-100 text-red-800">Cliente Potencial</span></td>
                        <td class="py-3 px-6">
                            <button class="text-blue-500 hover:text-blue-700" [routerLink]="['/pages/clientes-detalle']"><mat-icon >visibility</mat-icon></button>
                            <!-- <button class="text-blue-500 hover:text-blue-700" ><mat-icon>edit</mat-icon></button> -->
                            <button class="text-blue-500 hover:text-blue-700"><mat-icon>block</mat-icon></button>
                            <button class="text-red-500 hover:text-red-700"><mat-icon>delete</mat-icon></button>
                        </td>
                    </tr>
                    <!-- Más filas pueden ser añadidas aquí -->
                    <tr class="border-b border-gray-300 hover:bg-blue-100">
                        <td class="py-3 px-6">
                            <div class="flex items-center"> <!-- Contenedor flex para alinear -->
                                <div class="w-8 h-8 flex justify-center items-center rounded-md mr-2" style="background-color: #29abe2;">
                                    <span class="text-white">ML</span>
                                </div>
                                María López
                            </div>
                        </td>
                        <td class="py-3 px-6"><b>mariaexample.com</b>
                            <br>
                            212-8654785
                        </td>
                        <td class="py-3 px-6"><span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-red-100 text-red-800">Cliente Regular</span></td>
                        <td class="py-3 px-6">
                            <button class="text-blue-500 hover:text-blue-700"><mat-icon>visibility</mat-icon></button>
                            <!-- <button class="text-blue-500 hover:text-blue-700"><mat-icon>edit</mat-icon></button> -->
                            <button class="text-blue-500 hover:text-blue-700"><mat-icon>block</mat-icon></button>
                            <button class="text-red-500 hover:text-red-700"><mat-icon>delete</mat-icon></button>
                        </td>
                    </tr>

                    <tr class="border-b border-gray-300 hover:bg-blue-100">
                        <td class="py-3 px-6">
                            <div class="flex items-center"> <!-- Contenedor flex para alinear -->
                                <div class="w-8 h-8 flex justify-center items-center rounded-md mr-2" style="background-color: #29abe2;">
                                    <span class="text-white">ML</span>
                                </div>
                                María López
                            </div>
                        </td>
                        <td class="py-3 px-6"><b>mariaexample.com</b>
                            <br>
                            212-8654785
                        </td>
                        <td class="py-3 px-6"><span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-red-100 text-red-800">Badge</span></td>
                        <td class="py-3 px-6">
                            <button class="text-blue-500 hover:text-blue-700"><mat-icon>visibility</mat-icon></button>
                            <!-- <button class="text-blue-500 hover:text-blue-700"><mat-icon>edit</mat-icon></button> -->
                            <button class="text-blue-500 hover:text-blue-700"><mat-icon>block</mat-icon></button>
                            <button class="text-red-500 hover:text-red-700"><mat-icon>delete</mat-icon></button>
                        </td>
                    </tr>
                    <tr class="border-b border-gray-300 hover:bg-blue-100">
                        <td class="py-3 px-6">
                            <div class="flex items-center"> <!-- Contenedor flex para alinear -->
                                <div class="w-8 h-8 flex justify-center items-center rounded-md mr-2" style="background-color: #29abe2;">
                                    <span class="text-white">ML</span>
                                </div>
                                María López
                            </div>
                        </td>
                        <td class="py-3 px-6"><b>mariaexample.com</b>
                            <br>
                            212-8654785
                        </td>
                        <td class="py-3 px-6"><span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-red-100 text-red-800">Badge</span></td>
                        <td class="py-3 px-6">
                            <button class="text-blue-500 hover:text-blue-700"><mat-icon>visibility</mat-icon></button>
                            <!-- <button class="text-blue-500 hover:text-blue-700"><mat-icon>edit</mat-icon></button> -->
                            <button class="text-blue-500 hover:text-blue-700"><mat-icon>block</mat-icon></button>
                            <button class="text-red-500 hover:text-red-700"><mat-icon>delete</mat-icon></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div [ngClass]="{'translate-x-0': isOpen, 'translate-x-full': !isOpen}" 
            class="fixed top-0 right-0 transition-transform duration-300 transform h-full max-w-xs w-full z-50 bg-white border-l dark:bg-gray-800 dark:border-gray-700">
           <div class="flex justify-between items-center py-2 px-4 border-b dark:border-gray-700">
               <h3 class="font-medium text-white">
                   <span class="text-blue-500">Juan</span>
                   <span class="text-gray-300 ml-1">Pérez</span>
               </h3>
               <button class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-md text-gray-500 hover:text-gray-700 text-sm dark:text-gray-500 dark:hover:text-gray-400" (click)="toggleOffcanvas()">
                   <span class="material-symbols-rounded"><mat-icon>close</mat-icon></span>
               </button>
           </div>
           
           <!-- Texto y detalles del cliente -->
           <div class="p-4 flex flex-col">
               <p class="text-gray-800 dark:text-gray-400  mb-2">
                   Acerca de este cliente:
               </p>
       
               <!-- Estado -->
               <div class="mb-4">
                   <h6 class="font-medium text-gray-600">Estado:</h6>
                   <p class="text-gray-800 dark:text-gray-400">Activo</p> <!-- Cambia "Activo" por el estado real -->
               </div>
       
               <!-- Número de Teléfono -->
               <div class="mb-4">
                   <h6 class="font-medium text-gray-600">Número de Teléfono:</h6>
                   <p class="text-gray-800 dark:text-gray-400">212-8654785</p> <!-- Cambia por el número real -->
               </div>
       
               <!-- Fecha de Creación -->
               <div class="mb-4">
                   <h6 class="font-medium text-gray-600">Fecha de Creación:</h6>
                   <p class="text-gray-800 dark:text-gray-400">2023-01-15</p> <!-- Cambia por la fecha real -->
               </div>
       
               <!-- Zona Horaria -->
               <div class="mb-4">
                   <h6 class="font-medium text-gray-600">Zona Horaria:</h6>
                   <p class="text-gray-800 dark:text-gray-400">UTC -5</p> <!-- Cambia por la zona horaria real -->
               </div>

               <!--Descripcion -->
               <div class="mb-4">
                 <h6 class="font-medium text-gray-600">Descripcion:</h6>
                 <p class="text-gray-800 dark:text-gray-400">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum soluta, voluptas cumque, repellendus consectetur non animi suscipit </p> <!-- Cambia por la zona horaria real -->
             </div>
           </div>
       </div>

            
        </div>


    <div class="flex justify-end mt-4">
        <mat-paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]"
            aria-label="Select pagination">
        </mat-paginator>
    </div>
</div>

</div>

